[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
django = "~=4.0"
djangorestframework = "~=3.13"
jsonpickle = "~=2.0"

[dev-packages]
pygments = "~=2.0"

[requires]
python_version = "3.9"
